* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  width: 168px;
  height: 67px;
}

.App-header {
  background: linear-gradient(180deg, rgba(0, 174, 165, 0.35) 0%, rgba(250, 251, 255, 1) 100%);
  min-height: 700px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.toggle-navbar {
  position: absolute;
  top: 46px;
  right: 72px;
}